<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <form action="/main">
    <strong>Zip Code Not Valid</strong> Make sure you have the correct coutnry selected.
        <button type="submit" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
  </form>
</div>