<div class="container px-4 py-5" id="custom-cards">
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('a.jpeg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-1 mt-1 mb-1 display-4 lh-1 fw-bold">Eu te amo linda amor</h3>
        </div>
        </div>
    </div>
</div>

