---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/zip?appid=&zip=90210,US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":401, "message": "Invalid API key. Please see https://openweathermap.org/faq#error401
        for more info."}'
  recorded_at: Tue, 09 Apr 2024 12:59:55 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/zip?appid=00&zip=90210,US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"90210","name":"Beverly Hills","lat":34.0901,"lon":-118.4065,"country":"US"}'
  recorded_at: Tue, 09 Apr 2024 13:06:09 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/zip?appid=043fe757188f8bddf56aa5751f6ce5de&zip=90210,US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"90210","name":"Beverly Hills","lat":34.0901,"lon":-118.4065,"country":"US"}'
  recorded_at: Tue, 09 Apr 2024 13:18:02 GMT
recorded_with: VCR 6.2.0
