---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/3.0/onecall?appid=043fe757188f8bddf56aa5751f6ce5de&lat=34.0901&lon=-118.4065&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":34.0901,"lon":-118.4065,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1712670287,"sunrise":1712669357,"sunset":1712715619,"temp":56.93,"feels_like":54.45,"pressure":1012,"humidity":45,"dew_point":35.83,"uvi":0.11,"clouds":0,"visibility":10000,"wind_speed":10.36,"wind_deg":120,"wind_gust":19.57,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1712670300,"precipitation":0},{"dt":1712670360,"precipitation":0},{"dt":1712670420,"precipitation":0},{"dt":1712670480,"precipitation":0},{"dt":1712670540,"precipitation":0},{"dt":1712670600,"precipitation":0},{"dt":1712670660,"precipitation":0},{"dt":1712670720,"precipitation":0},{"dt":1712670780,"precipitation":0},{"dt":1712670840,"precipitation":0},{"dt":1712670900,"precipitation":0},{"dt":1712670960,"precipitation":0},{"dt":1712671020,"precipitation":0},{"dt":1712671080,"precipitation":0},{"dt":1712671140,"precipitati[...]
